@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */
}

.container-utama {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    /* display: flex; */
    
    /* justify-content: space-between; */
}

nav .logo {
    color: #E82222;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 10%;
}

.container-nav-menu {
    display: flex;
    align-items: center;
    width: 35%;
    /* padding: 0 5%; */
    justify-content: space-around;
}

.container-nav-menu > a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
}

.container-nav-menu > .active {
    border-bottom: 5px solid #E82222;
}

.container-nav-menu > a:hover {
    border-bottom: 5px solid black;
    color: #E82222;
    transition: all .3s;
}