.container-content-blog {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.content-blog {
  margin-top: 5px;
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1.5px solid black;
  /* border-bottom: 1px solid #e82222 ; */
}

.left-side-blog {
  flex-grow: 10;
}

.title-blog {
  font-size: 24px;
  font-weight: 500;
}

.date-blog {
  color: #555;
  font-size: 14px;
  margin: 10px 0;
}

.right-side-blog {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  width: 500px;
  height: 200px;
}

.link-full-blog a {
  text-decoration: none;
  color: #e82222;
  font-weight: 500;
}
.link-full-blog a:hover {
  border-bottom: 3px solid #e82222;
  color: black;
  transition: all 150ms;
}
