@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.container-utama {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav .logo {
  color: #e82222;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 10%;
  margin-top: 8px;
}

nav a {
  text-decoration: none;
}
nav a:hover {
  /* border-bottom: #000 solid 5px; */
  /* box-shadow: 2px 2px 2px black; */

  transition: all 0.1s;
}

.container-nav-menu {
  display: flex;
  align-items: center;
  width: 35%;
  /* padding: 0 5%; */
  justify-content: space-around;
}

.container-nav-menu > a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  letter-spacing: 2px;
}

.container-nav-menu > .active {
  border-bottom: 5px solid #e82222;
}

.container-nav-menu > a:hover {
  border-bottom: 5px solid black;
  color: #e82222;
  transition: all 0.3s;
}
/* end Style Navbar */


.text-red {
  color: #e82222;
}
.bold {
  font-weight: 600;
}
.regular {
  font-weight: 500;
}

.sub-text-hero {
  font-size: 24px;
}



.radius {
  border-radius: 10px;
}
.radius-profile {
  border-radius: 10%;
}

.container-footer {
  width: 85%;
  margin: auto;
}

.garis {
  background-color: #e82222;
  width: 100%;
  height: 5px;
}

.text-footer {
  width: 50%;
  text-align: center;
  margin: auto;
  color: #222;
  font-weight: 200;
  margin-top: 5px;
}

footer a {
  text-decoration: none;
  /* color: #e82222; */
}
footer a:hover {
  border-bottom: 2px solid #e82222;
  color: #000;
  transition: all 0.1s;
}

aside {
  width: 60px;
  height: 170px;
  background-color: #e82222;
  position: fixed;
  bottom: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.fab {
  /* width: 60px;
    height: 60px; */
  margin-left: 10px;
  margin-top: 10px;
  font-size: 40px;
  color: #fff;
}

.fa-github:hover {
  color: #000;
}
.fa-linkedin:hover {
  color: #06309a;
}
.fa-instagram:hover {
  color: pink;
}

aside i {
  width: 80%;
}

/* about me */
.container {
  padding-top: 50px;
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}

.text-aboutme {
  font-size: 18px;
  width: 70px;
}

.container-card {
  padding-top: 25px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.card {
  border: 2px solid #e82222;
  border-radius: 5px;
  /* padding: 20px; */
  padding: 20px;
  width: 450px;
  margin-right: 15px;
}
.title-card {
  margin-bottom: 5px;
  font-size: 20px;
}

/* .logo-card > img {
  margin-top: 10px;
  width: 30px;
} */

.padding-20 {
  padding-top: 20px;
}

/* Pendidikan */
.container-card-left {
  padding-top: 25px;
  /* margin: auto; */
  display: flex;
  /* justify-content: space-around; */
  width: 70%;
}

.card-pendidikan {
  border: 2px solid #e82222;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-right: 15px;
}

.input-bar {
  border: 2px solid #e82222;
  border-radius: 5px;
  padding: 5px 10px;
  width: 50%;
}

.button-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e82222;
  width: 15%;
  margin-top: 30px;

  color: #fff;
  border-radius: 5px;

  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 8px 15px;
}

/* .button-normal {
  /* text-decoration: none; */
/* color: #fff; */
*/
/* } */

.button-normal:hover {
  /* border: 5px solid black; */
  transition: all 0.1s;
  box-shadow: 2px 2px 7px black;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.title-card {
  margin-bottom: 5px;
  font-size: 20px;
}

.logo-card {
  display: flex;
  align-items: space-around;
}

.logo-card > img {
  margin: 10px 5px 0 3px;
  width: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
